
/************** global.css - No need to modify ***************************************************/

body{font-size:12px;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;min-width:1200px;}
em,p,ul,dl,dt,dd,ins,h1,h2,h3,h4,form,h1,h2,h3,h4,ins{margin:0;padding:0;font-size:12px}
ins{text-decoration:none;}
em{font-style:normal;}
ul,ol{ list-style:none;}
input,select{ vertical-align:middle;}
input,button,select,textarea{outline:none} 
textarea{resize:none}
img{border:0;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur());outline:none}

.w-full{width:100%;}
.w-mall,.w,.w-shop,.w-user{margin:0 auto;}
.col-sub,.col-main{float:left;}
.col-bottom{ clear:both}
.clearfix:after{ content:'\20'; display:block; overflow:hidden; height:0; clear:both;}
.clear,.clr{clear:both; overflow:hidden;width:0;margin:0;padding:0; height:0; line-height:0; font-size:0;}
.clearboth{ clear:both;}
.hidden{ display:none}
.overflowHidden{ overflow:hidden;}
.float-left{float:left;}
.float-right{float:right;}
.relative{position:relative;}
.absolute{position:absolute;}
.inline-block{ display:inline-block;}
.block{ display:block}
.pointer{ cursor:pointer}

/* margin,padding */
.margin5{margin:5px;}
.margin10{margin:10px;}
.mt5{margin-top:5px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.padding5{padding:5px;}
.padding10{padding:10px;}

/* text,color */
.fff{color:#fff;}
.f60{color:#ff6600;}
.f66{color:#666;}
.ddd{color:#ddd;}

.fs18{font-size:18px}
.fs16{font-size:16px}
.fs14{font-size:14px}
.fs12{ font-size:12px;}

.strong{font-weight:bold;}
.center{ text-align:center}

/* border */
.border{border:1px #ddd solid}
.border-t-0{border-top:0;}
.border-b-0{border-bottom:0;}
.border-r-0{border-right:0;}
.border-b{border-bottom:1px #ddd solid}
.border-t{border-top:1px #ddd solid}

/* global banner */
.global-image-ads{ position:relative;}
.global-image-ads .global-image-ads-content{text-align:center; margin:0 auto}
.global-image-ads .global-image-ads-botton{position:absolute;right:2px;top:2px; height:16px; width:16px; text-align:center; background:#CC0000;color:#fff; line-height:16px; cursor:pointer; font-weight:bold; font-family:"Microsoft yahei"; font-size:100%; vertical-align:baseline}



/**************  global end  ***************************************************/






/************** common.css - Modified according to the situation ***************************************************/

a{color:#666;}
a:hover{color: #f33100;text-decoration: underline;}

img.lazyload{background:#fff url(../images/loading.gif) center  center no-repeat;}

.w-mall,.w{width:1200px;}
.w-shop{}
.w-user{}

/* pageinfo */

.page { float: right; text-align:left; background:none;}
.page a,.page .down_no,.page .former_no,.page b{float:left;display:inline-block;width:35px; height:25px;margin-left:5px; text-align:center; line-height:25px; background:#fff;}
.page .down_no,.page .down,.page .down:hover{width:60px;}
.page .down_no,.page .down,.page .former,.page .former_no{ background:url(../images/m_008.png) no-repeat -99999em -99999em #fff;}
.page .former,.page .former_no,.page .page_link,.page .down,.page .down_no{border:1px #ccc solid}
.page .former:hover,.page .page_link:hover,.page .down:hover{border:1px solid #f33100; }
.page .page_link:hover,.page .page_hover:hover{ text-decoration:underline}

.page .stat{float:left;width:200px; text-align:right;margin-left:5px;color:#666; line-height:25px;font-size:14px; text-decoration:none; background:none}
.page b{font-weight:normal;font-size:13px;color:#404040;width:100px; text-align:right;color:#999; line-height:20px; background:none;}
.page .former { background-position: -60px -213px;}
.page .former_no { background-position: 12px -213px; }
.page .page_link{color:#333}
.page .page_hover {color: #f33100; background:none; }
.page .page_link:hover{ background:#FFEDE1; color: #f33100;}
.page .page_hover:visited{color:#f33100;border:0;}
.page .down{ background-position: -176px -213px;color:#333;}
.page .down_no{ background-position: -100px -213px; color:#999;}
.page .down:hover{ background-position: -176px -213px; color:#f33100;}

/* pageinfo top */
.page-top .down,.page-top .down_no,.page-top .former_no,.page-top .former,.page-top .down:hover,.page-top .former:hover{width:20px; height:20px; line-height:20px; background:none; font-family:"song"}
.page-top .down_no,.page-top .former_no{ background:#EAEAEA;}
.page-top .down:hover,.page-top .former:hover{background:#FFEDE1;}

/* page-small  used in member center */
.page-small .stat{font-size:12px;}
.page-small a,.page-small .down_no,.page-small .former_no{width:30px; height:23px; line-height:23px;}
.page-small b{font-size:12px}
.page-small .down_no,.page-small .down,.page-small .down:hover{width:60px;}
.page-small .former { background-position: -66px -214px;}
.page-small .former_no { background-position: 8px -214px; }
.page-small .down{ background-position:-176px -214px}
.page-small .down_no{ background-position:-100px -214px}
.page-small .down:hover{ background-position:-176px -214px}

/* buyer_order.evaluate.html and cart.index.html ... use it */
.step{width:100%;background:url(../images/step.png) 0 0; height:23px; line-height:23px;color:#666; overflow:hidden}
.step1000{ background:url(../images/step1000.png);}
.step2{ background-position:0 -23px}
.step3{ background-position:0 -47px;}
.step4{ background-position:0 -71px;}
.step5{ background-position:0 -95px;}
.step span{float:left;width:20%; text-align:center; display:inline-block;}

/* common notice */
.notice-word p{background:url(../images/member/T1CqmcXllwXXXXXXXX-64-1800.png) 3px -145px no-repeat #E5F5FF;border:1px #40B3FF solid;padding:0 5px 0 25px; line-height:25px;margin-bottom:20px; text-align:left;color:#3e3e3e;}
.notice-word p a{color:#0071BB; text-decoration:none}
.notice-word p a:hover{color:#f60; text-decoration:underline;}

.notice-word .blue-big{ background-position:10px -490px;  padding:17px 10px 17px 56px; font-size:14px;line-height:22px;}
.notice-word .yellow{border:1px #FFCC7F solid; background-color:#FFFFE5; background-position:3px -196px;}
.notice-word .yellow-big{border:1px #FFCC7F solid; background-color:#FFFFE5; background-position:10px -690px; color:#404040;padding:17px 10px 17px 56px; font-size:14px;line-height:22px;}
.notice-word b{color:red;}
.notice-word .price{color:#f60; font-weight:bold; font-family:Arial, Helvetica, sans-serif}
.notice-word .correct{ background-position:3px -246px;}
.notice-word .correct-nobg{border:0;background:url(../images/member/T1CqmcXllwXXXXXXXX-64-1800.png) 3px -246px no-repeat #fff}

/* site-nav */

#site-nav{ background:#F7F7F7;margin-bottom:2px;border-bottom:1px #EEE solid}
#site-nav .shoptop{ height:26px;padding-top:2px;padding-bottom:2px; line-height:26px; position:relative; z-index:999; vertical-align:baseline}
#site-nav .login_info{float:left; font-family:Arial;line-height:26px;margin-top:-1px;}
#site-nav .login_info a{margin-right:5px;}
#site-nav .login_info a span{color:#0092D2;}
#site-nav .login_info a:hover{color:#0092D2; text-decoration:underline}

#site-nav .quick-menu { position:absolute;top:1px; right:0;}
#site-nav .quick-menu li {float:left; margin-left:-1px;padding-top:1px;padding-bottom:0px;background:url(../images/T1CCRNXmRFXXXXXXXX.png) no-repeat right 7px; position:relative;}
#site-nav .quick-menu li.home,
#site-nav .quick-menu li.service{padding-left:10px;padding-right:10px;}
#site-nav .quick-menu li.service a{line-height:24px;}

#site-nav .menu-hd { position:relative; display:block;_display:inline-block;padding-bottom:0px;padding-left:10px;padding-right:22px;padding-top:1px; height:20px;line-height:16px; margin:3px 1px 0px; cursor:pointer; z-index:901;}
#site-nav .sites .menu-hd{width:48px;}
#site-nav .mytb .menu-hd {width: 48px}
#site-nav .favorite .menu-hd {width: 36px}

#site-nav .menu-hd b,
#site-nav .mini-cart b{border-bottom: #F7F7F7 4px solid; position: absolute; border-left: #F7F7F7 4px solid; line-height: 0; width: 0px; height: 0px;font-size: 0px; border-top: #666 4px solid; top: 7px; right: 10px; border-right: #F7F7F7 4px solid; -webkit-transition: -webkit-transform .2s ease-in;-webkit-backface-visibility: hidden; -moz-transition: -moz-transform .2s ease-in; -o-transition: -o-transform .2s ease-in; transition: transform .2s ease-in}
#site-nav .mini-cart b{border-bottom: #fff 4px solid;border-left: #fff 4px solid;border-right: #fff 4px solid;}

#site-nav .menu-bd {z-index: 900; border-bottom: #bfbfbf 1px solid; position: absolute; border-left: #bfbfbf 1px solid; display: none; background: #fff; border-top: #bfbfbf 1px solid; top: 21px;_top:23px; right: 0px; border-right: #bfbfbf 1px solid}

#site-nav .menu-bd-panel {padding-bottom: 6px; padding-left: 10px; padding-right: 10px; padding-top: 10px}
#site-nav .menu {position: relative}
#site-nav .item:hover .menu-hd,
#site-nav .hover .menu-hd {border-bottom: medium none; border-left: #bfbfbf 1px solid; margin: 2px 0px 0px; background: white; border-top: #bfbfbf 1px solid; border-right: #bfbfbf 1px solid}
#site-nav .item:hover .menu-bd,
#site-nav .hover .menu-bd {display: block;}
#site-nav .item:hover .menu-hd b,
#site-nav .hover .menu-hd b,
#site-nav .item:hover .mini-cart b,
#site-nav .hover .mini-cart b{border-bottom-color: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); border-top-color: #666; border-right-color: #fff; border-left-color: #fff; top:6px;*top:3px; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%}

#site-nav .quick-menu .mini-cart a.ac{position:relative;display:block;border: #d8d8d8 1px solid; line-height:17px;margin-top:3px;padding-left:25px;padding-right:6px;padding-top:0;width:76px; height:17px; background: #fff;}
#site-nav .item:hover .mini-cart a.ac,
#site-nav .hover .mini-cart a.ac{border-bottom:medium none; z-index:901;}
#site-nav .quick-menu .mini-cart .mini-cart-hd{ color:#3E3E3E; font-weight:bold; margin:10px 0;}
#site-nav .quick-menu .mini-cart .mini-cart-each{height:45px}
#site-nav .quick-menu .mini-cart .mini-cart-img { display: inline-block; float: left;  height: 40px;    margin-right: 10px;    overflow: hidden;text-align: center;width: 40px;}
#site-nav .quick-menu .mini-cart .mini-cart-title { float:left; line-height: 20px; width:190px; height:40px;overflow: hidden;}
#site-nav .quick-menu .mini-cart .mini-cart-bt{float:left;border-top:1px solid #F2F2F2; margin-top:10px; text-align:center}
#site-nav .quick-menu .mini-cart .mini-cart-bt a { background:url(../images/T1lxl1XcNGXXXXXXXX-113-50.png); background-color: white; background-position: 0 0;border: medium none;color: white;display: inline-block;height: 20px; line-height: 19px;padding: 0; text-align: center;width: 113px;}
#site-nav .quick-menu .mini-cart .mini-cart-bt a:hover{ color:#fff;}
#site-nav .quick-menu .mini-cart .price-admin{ float:right; text-align:right}
#site-nav .quick-menu .mini-cart .mini-cart-del a{ color:#0092D2;}
#site-nav .quick-menu .mini-cart .mini-cart-del a:hover{ text-decoration:underline; color:#0092D2;}
#site-nav .quick-menu .mini-cart .mini-cart-empty{margin-right:30px;color:#999}

#site-nav .mytb .menu-bd {line-height: 1.7; width:94px;height: 75px}
#site-nav .favorite .menu-bd {line-height: 1.7; width:82px;height: 57px}

#site-nav .mytb .menu-bd-panel {padding-bottom: 8px; padding-left: 10px; padding-right: 10px; padding-top: 8px}
#site-nav .favorite .menu-bd-panel {padding-bottom: 8px; padding-left: 10px; padding-right: 10px; padding-top: 8px}

#site-nav .quick-menu .mini-cart s{ position:absolute;width:14px; height:11px;top:2px;left:6px;background:url(../images/T1CCRNXmRFXXXXXXXX.png) no-repeat -100px -20px;}
#site-nav .quick-menu .mini-cart a:hover{color:#f50;}
#site-nav .quick-menu .mini-cart strong{color: #f50;padding:0 2px 0 2px;}
#site-nav .quick-menu .mini-cart .menu-bd {border: #d8d8d8 1px solid;padding: 10px; padding-top: 0px;width: 304px;overflow: hidden; top: 17px; left: 0px; z-index:900}

#site-nav .sites .menu-bd{width:202px;}
#site-nav .sites .menu-bd a{color:#057BD2}
#site-nav .iwantbuy .menu-bd{width:82px;}
#site-nav .seller-center .menu-hd{ width:48px;}
#site-nav .seller-center .menu-bd{ width: 94px; line-height:1.7;}
#site-nav .seller-center .menu-bd-panel{padding: 8px 10px;}

#site-nav .shoptop a{color:#666;}
#site-nav .shoptop a:hover{color:#f33100; text-decoration:none}


/************** common end ***************************************************/
