@charset "utf-8";
/* CSS Document */
/* 收货地址 */
.address_con{margin:80px 10px 10px;}
.address_box{ border:#ccc solid 1px; background:#fff; overflow:hidden; color:#6b6b6b;   font-size:14px; border-radius:5px; margin-bottom:10px;}
.address_info{padding:10px 15px;border-bottom:#ccc solid 1px;}
.address_box .oprate{ text-align:center;}
.address_box .oprate a{ display:block; width:50%; text-align:center; float:left; height:35px; line-height:35px;}
.address_box .oprate a b{background:url(../images/user_ico.png) no-repeat -57px -15px; height:25px; width:25px; display:inline-block; vertical-align:-5px; margin-right:10px;}
.address_box .oprate a i{border-right:#ccc solid 1px; float:right; display:block; width:1px; height:35px;}
.address_box .oprate a.del_address b{ background-position:-103px -15px;}

.add_box,.edit_box { margin-top:60px; }
input[type="text"]{ padding:10px 2%; border:#ccc solid 1px;  color:#777; width:96%;}
.error{color:#B20005;}
input[type="text"].error{border:1px dotted #FF0000;}
select{ padding:10px 2%; border:#ccc solid 1px;  color:#777; width:100%;}
.add_box p,.edit_box p{ font-size:16px; color:#666; padding:5px 10px;} 
.mr{ display:inline-block; width:20px; height:20px;border:#ccc solid 1px; margin:0 10px 10px 0; vertical-align:-5px;}
.add_submit{ width:100%; padding:10px 0; display:block; text-align:center;}
input[type="password"]{ padding:10px 2%; border:#ccc solid 1px;  color:#777; width:96%;}
input[type="password"].error{border:1px dotted #FF0000;}