/* CSS Document */
*{margin:0;padding:0;}
body{font:13px/1.5 \5b8b\4f53,Tahoma, Arial,sans-serif; font-family:"微软雅黑"; min-width:320px; }
.gray{ background:#e8e8e8;}
ul,ol,li{list-style:none;}
img{ border:0; vertical-align:middle;}
.clear{ clear:both;}
a{ color:#666; text-decoration:none; }
a:active{color:#b20005;}
.w320{margin: 0 auto;}
/* 按钮 */
.white_btn{
background:#fefefe;
background:linear-gradient(to bottom,#fefefe,#f5f5f5);
background: -moz-linear-gradient(top, #fefefe,#f5f5f5);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f5f5f5));
border:#ddd solid 1px;border-radius:3px; color:#333;
}
.white_btn:active{
background:linear-gradient(to bottom,#f5f5f5,#fefefe);
background: -moz-linear-gradient(top, #f5f5f5,#fefefe);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fefefe));
border:#ddd solid 1px;border-radius:3px; color:#333;
}
.red_btn{
background:#b00005;
background:linear-gradient(to bottom,#b00005,#9f0207);
background: -moz-linear-gradient(top, #b00005,#9f0207);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#b00005), to(#9f0207));
border:#8d0303 solid 1px;border-radius:3px;
color:#fff;
}
.red_btn:active{
background:#b00005;
background:linear-gradient(to bottom,#9f0207,#b00005);
background: -moz-linear-gradient(top, #9f0207,#b00005);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#9f0207), to(#b00005));
border:#8d0303 solid 1px;border-radius:3px;
color:#fff;
}
/* 头部 */
.fixed{ position:fixed; left:0; top:0; z-index:999; background:#fff; width:100%;}
.header{height:45px;position:relative; z-index:999; min-width:320px; font-size:18px; color:#333;}
.header .logo{ position:absolute; left:10px; top:5px;  height:40px; width:100px;}
.header .nav{ position:absolute; right:0; top:5px;}
.nav li{ float:left; background:url(../images/nav.png) no-repeat 0 0; width:50px; height:35px; text-indent:-9999em;}
.nav li a{display:block;width:50px; height:35px;}
.nav li.user{ background-position:-47px 0;}
.nav li.car{ background-position:-94px 0;}
.header2{box-shadow: 0 1px 3px rgba(0,0,0,0.3);text-align:center; line-height:45px; }
.back2_index,.back2_pre,.bookmark,.add_address{background:url(../images/nav.png) no-repeat -148px 0 ;background-size:330px 35px;display:block;width:50px; height:35px; position:absolute; top:5px;}
.back2_index{left:0; }
.back2_pre{ background-position: -285px 0; left:0;}

.bookmark{ background-position: -194px 0; right:0;}
.add_address{background-position: -242px 0; right:0;}
.header .oprate{ position:absolute; right:10px; top:0;}
.header .oprate .white_btn{ padding:5px 10px; font-size:14px;}
/* 二级菜单 */
.sub_menu,.shop_info{ background:#333; overflow:hidden; position:absolute; top:45px; z-index:1000; width:100%; display:none; border-bottom:#b20005 solid 3px;}
.sub_menu li{ display:block; border-bottom:#222 solid 1px; border-top:#444 solid 1px;}
.sub_menu li:first-child{ border-top:none;}
.sub_menu li a{ color:#efefef; font-size:16px; padding:7px 10px; display:block; text-align:left;}
.sub_menu .fun{ border-top:#444 solid 1px; padding:10px 20px; overflow:hidden;}
.sub_menu .fun a{color:#efefef; display:block; float:left; background:#444; border:#222 solid 1px; font-size:16px;vertical-align:middle;  border-radius:5px; width:130px; height:40px; line-height:40px; text-align:center;}
.sub_menu .fun .code{ float:left;}
.sub_menu .fun .fav{ float:right;}
.sub_menu .fun img{ width:30px; height:30px; margin-right:10px; margin-bottom:5px; }
/* 店铺信息 */
.shop_info{ background:#333;padding:10px; display:none; left:100%;}
.shop_info .shop_code{ width:140px; height:140px; float:left; margin-right:10px;}
.shop_info .shop_name{ color:#fff; padding:0 0 5px 0; font-size:18px;}
.shop_info .shop_detail{ overflow:hidden; width:140px;}
.shop_info .shop_detail span{ color:#fff; display:block;  float:left; font-size:14px; line-height:28px;}
.shop_info .shop_detail span strong{ color:#c00; font-size:16px;}
.shop_info .back{ background:#fff; border:#ccc solid 3px; display:block; width:132px; float:left; padding:5px; text-align:center; margin-top:10px;}
.fav_msg{display:none;position:fixed;  top:25%; left:25%; background:rgba(0,0,0,0.2); overflow:hidden; color:#fff; padding:3%;border-radius:10px; font-size:18px; height:39px; line-height:39px; vertical-align:middle; text-align:center; z-index:12345;}
.fav_msg img{ margin-right:5px;}
/* 搜索框 */
.searchBar{ background:#b20005;padding:7px 0 7px 10px; overflow:hidden;box-shadow: 0 2px 4px rgba(0,0,0,0.3);  z-index:999;}
.search_text{ height:30px; width:80%; border:none; box-shadow:#666 1px 1px 2px inset; padding:5px 0; text-indent:10px; font-size:16px; color:#aaa;}
.search_btn{ height:38px; width:20%; border:none; background:none; color:#fff; font-size:16px; cursor:pointer;}

/* 轮播 */
.slider{ margin:99px auto 0; width:100%;}

/* 分类 */
.sort{ margin:0 auto; width:100%; overflow:hidden; border-bottom:#ccc solid 1px; padding-bottom:10px;}
.sort li{ float:left; width:25%; margin-bottom:5px;}
.sort li img{ width:100%;}
.sort li span{ display:block; text-align:center;}

/* 列表 */
.lists{ overflow:hidden; padding-bottom:1%;}
.lists h2{ border-left:#b20005 solid 5px; margin:15px 2%; padding-left:2%; color:#666;}
.lists h2 a{ float:right; color:#b20005;}
.lists li{ float:left; padding:3%; box-shadow:#aaa 0 0 4px;border-radius:5px; width:40%; margin:0 2% 2%; float:left; background:#fff;	}
.lists li img{width:100%;}
.lists p{ text-align:left; height:38px; overflow:hidden; padding:5px 0 0;}
.lists span{ display:block; text-align:left; color:#b20005; font-weight:bold; font-size:16px;}

/* 底部 */
.footer{ background:#333; color:#fff; border-top:#b20005 solid 5px; overflow:hidden; padding:15px 0; margin-top:15px;}
.footer p{ text-align:center; padding:3px 0;}
.footer p a{ color:#fff; margin:0 5px; }

/* 翻页 */
.page{ overflow:hidden; text-align:center;}
.page a{ display:inline-block; padding:8px 20px; font-size:14px; cursor:pointer; }
.page select{ width:84px; height:38px; opacity:0; position:absolute; left:0; top:0;  }
.page .selected{z-index:99;position:relative;}
.page .page_hover{color:#B20005;}
/* 列表页 */
.lists1{ margin-top:160px; padding-bottom:0;}
.lists1 li{ margin-bottom:4%;}
.paixu{ height:30px; background:#fff;box-shadow: 0 2px 4px rgba(0,0,0,0.3); position:absolute; top:99px; left:0; z-index:990; width:100%; padding:10px 2%; min-width:320px;}
.paixu span{ display:block; padding:5px 10px;  float:left; margin-right:5px; height:20px;}
.paixu a{display:block; padding:5px;  float:left;margin-right:5px; width:50px; height:20px; line-height:20px;}
.paixu a i{background:url(../images/paixu.png) no-repeat -20px 0; display:block;height:20px; line-height:20px; width:20px; float:right;}
.paixu a.cur i{background-position:3px 0}
.paixu a:active i{background-position:3px 0;}
/* 购物车，订单空时 */
.submit_btn{ display:block; text-align:center; background:#b20005; color:#fff; margin:0 10px; font-size:16px; height:40px; line-height:40px; border-radius:5px;}
.null{ margin-top:75px;}
.null p{ text-align:center; color:#aaa; font-size:20px; margin-bottom:20px;}
.null .white_btn{ padding:8px 20px;border-radius:5px;}

form label.error{color:#B00005;}
form label.validate_right {
    background: url("../images/right.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #008000;
    float: none;
    font-style: italic;
    margin-left: 5px;
    padding-left: 12px;
}

.com_text{border: 1px solid #CCCCCC;height: 120px;width: 100%;padding: 3px;}