@charset "utf-8";
/* CSS Document */

.goods_list{ margin-top:45px; padding:20px 10px; overflow:hidden;}
.goods_list li{ background:#fff;border:#ccc solid 1px;box-shadow:rgba(0,0,0,0.2) 0 0 4px; border-bottom:none;}
.goods_list .detail{ background:#fff; padding:10px 5px; overflow:hidden; position:relative; }
.goods_list li img{ width:80px; height:80px; float:left; margin-right:5px;}
.goods_list li p{font-size:12px;}
.goods_list li p.c_info{ max-height:40px; overflow:hidden;}
.c_check{ width:20px; height:20px;float:left; margin:30px 5px 30px 0; background:#649f33; color:#fff;}
.c_oprate .price{ color:#333; margin:2px 0; display:block;}
.c_oprate .price strong{ color:#b20005;}
.c_oprate .white_btn{ height:20px; width:20px; display:inline-block; text-align:center; line-height:20px;}
.c_oprate .addtext{ width:20px; border:#ddd solid 1px; height:20px; text-align:center;}
.c_oprate .close{ font-size:28px;display:block; position:absolute; right:0; bottom:0; color:#999; width:30px; height:30px; line-height:30px; text-align:center;}
.count {width:100%; overflow:hidden;}
.count a{ display:block; width:100%; float:left; text-align:right; background:#fff; padding:10px 0; border-top:#ddd solid 1px;}
.count strong{ color:#b20005;margin-right: 20px;}
.count .jie{ background:#b20005; color:#fff;}