html,body,p,blockquote,ul,ol,dl,dd,form,input,select,textarea,button,h1,h2,h3,h4,h5,h6,figure{margin:0}
ul,ol,dd,input,tr,td,th,fieldset{padding:0}
ul,ol{list-style:none}
input,button,select,textarea{*vertical-align:middle;outline:none}
select{overflow:hidden}
textarea{resize:none}
a{text-decoration:none;*vertical-align:middle;_height:1px}
img{border:0 \9;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0;width:100%}
em,i,address{font-style:normal}
article,aside,footer,header,nav,section,figure,figcaption,hgroup,main,details,summary,menu,canvas{display:block}
.clear{clear:both;overflow:hidden;display:block;height:0}
body{font:12px/18px Microsoft YaHei;word-wrap:break-word}
.clearfix,#nav,.pro-list ul,.pro-list-2 li,.pro-list-2 li:first-child,.pro-classify dd{min-height:1px;zoom:1;_height:1px}.clearfix:after,#nav:after,.pro-list ul:after,.pro-list-2 li:after,.pro-classify dd:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.triangle{width:0;height:0;font-size:0;line-height:0;vertical-align:middle;overflow:hidden;border-color:transparent;border-style:solid}
._left,#nav>*,#nav>div a *,.pro-list header h2 *,#searchbox *{float:left;*display:inline}
._right{float:right;*display:inline}
._rel,#nav>a,#nav>a:nth-child(3n+0),#nav>a:nth-child(1),#nav>a:nth-child(2),#nav>a:nth-child(4),#nav>a:nth-child(5),#nav>a:nth-child(6),#nav>a:nth-child(7),#nav>a:nth-child(8),#nav>a:nth-child(9),#sub-title,.login div,.login div:first-child,.login>label input{position:relative;z-index:0}
._abs,.login div>*:last-child{position:absolute;z-index:0}
._abs_lt{position:absolute;z-index:0;left:0;top:0}
._abs_rb{position:absolute;z-index:0;right:0;bottom:0}
._abs_lb,#nav>a span{position:absolute;z-index:0;left:0;bottom:0}
._rel_m{position:relative;z-index:0;top:50%}
._abs_m,#sub-title a,#sub-title a:first-child,#sub-title a:last-child{position:absolute;z-index:0;top:50%}
._abs_c{position:absolute;z-index:0;left:50%}
._abs_mc{position:absolute;z-index:0;left:50%;top:50%}
._wh{width:100%;height:100%}
body,a{color:#222}
html,body{width:100%;background-color:#eee}
._hover,#footer nav a,#footer nav a:hover,.pro-list header nav a,.pro-list li div,.pro-list li div:hover,.pro-list-2 figure a,.pro-list-2 figure a:hover,.login div>a,.login div>a:hover{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
._hover:hover,.login p a:hover{color:#a81723}
img{width:100%;}
._fff,.pro-list,#sub-title,#searchbox,.pro-list-2 li,.pro-list-2 li:first-child,.pro-classify dt,.pro-classify dt:first-child,.pro-classify dt:hover,.pro-classify dt.current,.pro-classify dd a{background-color:#fff}
#wraper{margin:0 auto;background-color:#eee}
#footer>*{height:30px;line-height:30px;text-align:center;color:#fff;font-size:16px}
#footer>div{background-color:#d7143e}
#footer nav{background-color:#aaa;margin-top:1px}#footer nav>*{float:left;color:#fff}
#footer nav a{width:32%;height:100%}#footer nav a:hover{background-color:#d7143e}
#footer nav a *{display:inline-block;vertical-align:middle;margin:0 3px}
#footer nav>i{width:2%}
#footer nav b{width:20px;height:100%;background:url("../images/gotop_ico.png") no-repeat 0 center}
#footer>p{height:26px;line-height:26px;font-size:12px;background-color:#eee;color:#888}
#nav{margin-bottom:10px}#nav>*{width:32%;height:96px;margin-top:10px}
#nav a{font-size:14px;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px}#nav a:hover i{-webkit-animation:navico .8s ease-in-out both;-moz-animation:navico .8s ease-in-out both;-ms-animation:navico .8s ease-in-out both;-o-animation:navico .8s ease-in-out both;animation:navico .8s ease-in-out both}
#nav>a{margin-right:2%}#nav>a i{height:70px;display:block;background-repeat:no-repeat;background-position:center}
#nav>a span{width:100%;height:26px;line-height:26px;text-align:center}
#nav>a:nth-child(3n+0){margin-right:0}
#nav>a:nth-child(1){background-color:#96d996}#nav>a:nth-child(1) span{background-color:#6ac969}
#nav>a:nth-child(1) i{background-image:url("../images/nav_ico_1.png")}
#nav>a:nth-child(2){background-color:#f0c35c}#nav>a:nth-child(2) span{background-color:#eaaa17}
#nav>a:nth-child(2) i{background-image:url("../images/nav_ico_2.png")}
#nav>a:nth-child(4){background-color:#f3a29a}#nav>a:nth-child(4) span{background-color:#ee7b6f}
#nav>a:nth-child(4) i{background-image:url("../images/nav_ico_3.png")}
#nav>a:nth-child(5){background-color:#68c8e0}#nav>a:nth-child(5) span{background-color:#23b0d3}
#nav>a:nth-child(5) i{background-image:url("../images/nav_ico_4.png")}
#nav>a:nth-child(6){background-color:#cca0d8}#nav>a:nth-child(6) span{background-color:#b777c7}
#nav>a:nth-child(6) i{background-image:url("../images/nav_ico_5.png")}
#nav>a:nth-child(7){background-color:#f5d48b}#nav>a:nth-child(7) span{background-color:#eaa916}
#nav>a:nth-child(7) i{background-image:url("../images/nav_ico_6.png")}
#nav>a:nth-child(8){background-color:#8fda8e}#nav>a:nth-child(8) span{background-color:#69c968}
#nav>a:nth-child(8) i{background-image:url("../images/nav_ico_7.png")}
#nav>a:nth-child(9){background-color:#f3a49b}#nav>a:nth-child(9) span{background-color:#ee7a6e}
#nav>a:nth-child(9) i{background-image:url("../images/nav_ico_8.png")}
#nav>b{width:2%}
#nav>div a{height:44px;line-height:44px;display:block;background-color:#f3a29a}#nav>div a i{background:url("../images/register_ico.png") no-repeat center}
#nav>div a:first-child{background-color:#ee7b6f;margin-bottom:8px}#nav>div a:first-child i{background-image:url("../images/login_ico.png")}
#nav>div a *{width:50%;height:100%}
#nav>div span{text-align:center}
@-webkit-keyframes navico{from{background-position-y:12px;background-position-y:12px} 25%{background-position-y:10px;background-position-y:10px} 50%{background-position-y:15px;background-position-y:15px} 75%{background-position-y:10px;background-position-y:10px} to{background-position-y:center;background-position-y:center}}@-moz-keyframes navico{from{background-position-y:12px;background-position-y:12px} 25%{background-position-y:10px;background-position-y:10px} 50%{background-position-y:15px;background-position-y:15px} 75%{background-position-y:10px;background-position-y:10px} to{background-position-y:center;background-position-y:center}}@keyframes navico{from{background-position-y:12px;background-position-y:12px} 25%{background-position-y:10px;background-position-y:10px} 50%{background-position-y:15px;background-position-y:15px} 75%{background-position-y:10px;background-position-y:10px} to{background-position-y:center;background-position-y:center}}.pro-list{padding:15px 0 5px 0;margin-bottom:10px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}.pro-list>*{margin:0 2%}
.pro-list header{height:26px;line-height:26px;margin-bottom:12px}.pro-list header h2{float:left;height:100%}
.pro-list header span{font-size:24px;font-weight:bold}
.pro-list header i{display:inline-block;width:8px;height:100%;margin-right:15px;background-color:#d7143e}
.pro-list header nav{height:10px;float:right;margin-top:8px}.pro-list header nav a{width:10px;height:100%;float:left;margin-left:3px;background-color:#eb899e;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px}
.pro-list header nav .current,.pro-list header nav a:hover{background-color:#d7143e}
.pro-list li{width:32%;float:left;margin:0 2% 5px 0;text-align:center}.pro-list li div,.pro-list li div *{-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.pro-list li div{border:1px solid #ccc;padding:1px}.pro-list li div:hover{border-color:#d7143e}
.pro-list li:nth-child(3n+0){margin-right:0}
.pro-list li figcaption{margin-top:4px}
.pro-list li p{color:#f00;font-family:Arial;font-weight:bold}.pro-list li p *{margin:0 1px}
#sub-title{height:46px;line-height:46px;border-bottom:2px solid #d7143e;color:#d7143e;text-align:center}#sub-title h1{font-size:18px}
#sub-title a{height:24px;margin-top:-12px}#sub-title a:first-child{width:24px;left:10px;background:url("../images/back_ico.png") no-repeat}
#sub-title a:last-child{width:24px;right:10px;background:url("../images/home_ico.png") no-repeat}
#searchbox{height:36px;display:block;padding:10px 1%;margin-bottom:20px}#searchbox *{height:100%;border:0}
#searchbox input[type="text"]{width:90%;background-color:#eee}
#searchbox input[type="submit"]{width:10%;color:#fff;background:#d7143e url("../images/search_ico.png") no-repeat center}
.pro-list-2 li{padding:10px 2%;margin-bottom:10px}.pro-list-2 li:first-child{margin-top:0}
.pro-list-2 figure{width:40%;float:left}.pro-list-2 figure a,.pro-list-2 figure img{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
.pro-list-2 figure a{display:block;border:1px solid #ccc;padding:1px}.pro-list-2 figure a:hover{border-color:#d7143e}
.pro-list-2 section{width:57%;float:right}.pro-list-2 section>div{font-size:14px}.pro-list-2 section>div del{margin-right:20px}
.pro-list-2 h2{font-size:14px;line-height:22px}
.pro-list-2 p{font:bold 16px/50px Arial;color:#d7143e}
.pro-list-2 nav{clear:both;height:28px;line-height:28px;padding-top:10px}.pro-list-2 nav>a{width:32%;margin-left:2%;float:left;text-align:center;font-size:16px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px}.pro-list-2 nav>a:first-child{margin-left:0;background-color:#ddd}.pro-list-2 nav>a:first-child~a{color:#fff}
.pro-list-2 nav>a:nth-child(2){background-color:#f8ac39}
.pro-list-2 nav>a:last-child{background-color:#d7143e}
.pro-classify dt{height:50px;line-height:50px;border-bottom:1px solid #e1e1e1;font-size:14px;cursor:pointer;padding:0 3%}.pro-classify dt:first-child{border-top:1px solid #e1e1e1}
.pro-classify dt:hover,.pro-classify dt.current{background-color:#d7143e;color:#fff}
.pro-classify dd{padding:5px 1%;display:none}.pro-classify dd a{float:left;height:34px;line-height:34px;padding:0 10px;margin:5px 5px 5px 0}
.login{margin:20px 5px 30px 5px}.login m{color:#d7143e;right:5px}
.login input{border:0;font-family:Microsoft YaHei}
.login div{height:36px;line-height:36px;padding:0 15px 0 5px;background-color:#fff;margin-top:10px}.login div input{width:100%;height:36px;font-size:14px}
.login div:first-child{margin-top:0}
.login div>*:last-child{top:0}
.login div>a{width:110px;right:0;text-align:center;color:#fff;font-size:14px;font-weight:bold;background-color:#f8ac39}.login div>a:hover{background-color:#d7143e}
.login input[type="submit"]{width:100%;height:40px;display:block;background-color:#d7143e;font-size:16px;margin-top:20px;color:#fff;font-weight:bold}
.login p{text-align:center;height:60px;line-height:60px}.login p a{margin:0 5px;-webkit-transition:color .5s linear;-moz-transition:color .5s linear;-ms-transition:color .5s linear;-o-transition:color .5s linear;transition:color .5s linear}
.login .code{padding-right:110px}
.login>label{display:block;height:34px;line-height:34px;font-size:16px;color:#fff;text-align:center;background-color:#65c8e0;margin-top:20px}.login>label *{margin:0 2px}
.login>label input{top:1px}