@charset "utf-8";
/*
 * -------------------
 * public.css
 * class.css
 * head.css
 * -------------------
 */
* { padding:0; margin:0; }
body { font-size: 13px; font-family:"Microsoft yahei", Arial, Helvetica, sans-serif; background: #f8f8f8; color: #666;}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, body, form, input, button, img, cite, strong, em, table, td, th { padding:0; margin:0; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
img, table, td, th { border: 0; }
ul, ol { list-style-type:none; }
a:link,a:visited{text-decoration: none;color: #666;}
a:hover{color: #f00042;}
/*public Start*/
.yayg_t_b2{border-bottom: 1px solid #ededed;}
.w{width:1200px;margin: 0px auto;}
.headertop_r .left .helloC a:link,.headertop_r .left .helloC a:visited{color: #4287c8;}
.headertop_r .left .helloC a:hover,.cur a:link,.cur a:visited{color: #ee470d;}
.icons_01,.icons_02{background: url(images/themes/icons01.png) no-repeat left -5px;padding-left: 30px;}
.icons_02{background-position: left -39px; }
.line01{background: url(images/themes/line.gif) no-repeat left center;}
.caticon{background: url(images/themes/icons01.png) no-repeat 10px -64px;padding-left: 40px;}
.clear1{clear: both;width: 100%;}
.Mt10{margin-top:10px;overflow: hidden;width: 100%;clear: both; }
.yaygWrap{width: 100%;}
.yayg_btn{border:0 none;background-color:transparent;padding:0;font-size:100.0;_overflow-y:hidden}
.yayg_btn span{background-color:white;display:inline-block;padding-left:10px;height:100%;line-height:1.91667;font-size:inherit;*cursor:pointer}
.yayg_btn span span{border:0 none;background-color:transparent;padding-left:0;padding-right:10px}
.btn-import,.btn-major,.btn-caution,.btn-blue{color:white}
a.btn-import,a.btn-major,a.btn-caution,a.btn-blue{color:white}
a.btn-import:hover,a.btn-major:hover,a.btn-caution:hover,a.btn-blue:hover{color:white}
.btn-flat{color:#666;margin-right:10px}
.btn-link{text-decoration:underline;margin-right:10px;font-size:100.0;color:#0563c3}
.btn-rounded{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px}
.btn-small span{padding-left:5px;line-height:1.41667}
.btn-small span span{padding-left:0;padding-right:5px}
.btn-big{font-size:116.66667%}
.btn-big span{padding-left:18px;line-height:2.5}
.btn-big span span{padding-left:0;padding-right:18px}
.btn-big .f-icon{font-size:85.71429%;margin-left:5px}
.btn-huge{font-size:133.33333%}
.btn-huge span{padding-left:30px;line-height:2.5}
.btn-huge span span{padding-left:0;padding-right:30px}
button{margin:0;white-space:nowrap;cursor:pointer;vertical-align:middle;font-family:inherit;}
.yayg_btn{border:0 none;background-color:transparent;padding:0;font-size:100.0;_overflow-y:hidden;}

.btn-simple span{border:1px solid #f3f3f3;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fefefe),color-stop(100%,#f3f3f3));background-image:-webkit-linear-gradient(#fefefe,#f3f3f3);background-image:-moz-linear-gradient(#fefefe,#f3f3f3);background-image:-o-linear-gradient(#fefefe,#f3f3f3);background-image:linear-gradient(#fefefe,#f3f3f3);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFFEFEFE',endColorstr='#FFF3F3F3') \9}
.btn-simple:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f3f3f3),color-stop(100%,#e9e9e9));background-image:-webkit-linear-gradient(#f3f3f3,#e9e9e9);background-image:-moz-linear-gradient(#f3f3f3,#e9e9e9);background-image:-o-linear-gradient(#f3f3f3,#e9e9e9);background-image:linear-gradient(#f3f3f3,#e9e9e9);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFF3F3F3',endColorstr='#FFE9E9E9') \9}

.btn-blue span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#009eea),color-stop(100%,#009ce4));background-image:-webkit-linear-gradient(#009eea,#009ce4);background-image:-moz-linear-gradient(#009eea,#009ce4);background-image:-o-linear-gradient(#009eea,#009ce4);background-image:linear-gradient(#009eea,#009ce4);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF009eea',endColorstr='#FF009ce4') \9}
.btn-blue:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#1399d7),color-stop(100%,#118fc9));background-image:-webkit-linear-gradient(#1399d7,#118fc9);background-image:-moz-linear-gradient(#1399d7,#118fc9);background-image:-o-linear-gradient(#1399d7,#118fc9);background-image:linear-gradient(#1399d7,#118fc9);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF1399d7',endColorstr='#FF118fc9') \9}

.btn-import span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e1003e),color-stop(100%,#d00039));background-image:-webkit-linear-gradient(#e1003e,#d00039);background-image:-moz-linear-gradient(#e1003e,#d00039);background-image:-o-linear-gradient(#e1003e,#d00039);background-image:linear-gradient(#e1003e,#d00039);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFe1003e',endColorstr='#FFd00039') \9}
.btn-import:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f40949),color-stop(100%,#db0641));background-image:-webkit-linear-gradient(#f40949,#db0641);background-image:-moz-linear-gradient(#f40949,#db0641);background-image:-o-linear-gradient(#f40949,#db0641);background-image:linear-gradient(#f40949,#db0641);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFf40949',endColorstr='#FFdb0641') \9}
.btn-major span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#ee470d),color-stop(100%,#e02e04));background-image:-webkit-linear-gradient(#ee470d,#e02e04);background-image:-moz-linear-gradient(#ee470d,#e02e04);background-image:-o-linear-gradient(#ee470d,#e02e04);background-image:linear-gradient(#ee470d,#e02e04);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFee470d',endColorstr='#FFe02e04') \9}
.btn-major:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f5622f),color-stop(100%,#f14e15));background-image:-webkit-linear-gradient(#f5622f,#f14e15);background-image:-moz-linear-gradient(#f5622f,#f14e15);background-image:-o-linear-gradient(#f5622f,#f14e15);background-image:linear-gradient(#f5622f,#f14e15);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFf5622f',endColorstr='#FFf14e15') \9}
.btn-caution span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#ce1246),color-stop(100%,#c61042));background-image:-webkit-linear-gradient(#ce1246,#c61042);background-image:-moz-linear-gradient(#ce1246,#c61042);background-image:-o-linear-gradient(#ce1246,#c61042);background-image:linear-gradient(#ce1246,#c61042);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFce1246',endColorstr='#FFc61042') \9}
.btn-caution:hover span{background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#a50d37),color-stop(100%,#9b052e));background-image:-webkit-linear-gradient(#a50d37,#9b052e);background-image:-moz-linear-gradient(#a50d37,#9b052e);background-image:-o-linear-gradient(#a50d37,#9b052e);background-image:linear-gradient(#a50d37,#9b052e);filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFa50d37',endColorstr='#FF9b052e') \9}
/* header */
#headertop{height: 30px;width: 100%;background: #f3f3f3;line-height: 30px;color: #666;position: relative;z-index: 999;}
.headertop_l{float: left;}
.headertop_r{float: right;}
.headertop_r .left{float: left;padding-right: 10px;}
.headertop_r .right{float: left;}
.headertop_r .right ul li{float: left;position: relative;padding: 0px 10px 0px 10px;z-index: 1;}
.headertop_r .right ul li a strong{font-style: 12px;color: #ee470d;display: inline-block;padding: 0px 3px;}
#float_list{position: absolute;z-index: 1;left: 0px;top: 30px;background: #f4f4f4;width: 80px;display: none;zoom:1;}
.headertop_r .right ul li ul li{height: 23px;line-height: 23px; }
.ts_Box{height: 30px;border: 2px solid #11c941;width: 540px;position: relative;}

.ts_Box .searchicon{width: 18px;height: 18px;background: url(images/themes/search_icon.png) no-repeat left top;display: inline-block;position: absolute;z-index: 1;left:5px;top: 5px;}
#headerMiddle{background: #fff;width: 100%;overflow: hidden;}
#headerMiddle .logo{float: left;width: 350px;height: 125px;position: relative;zoom:1;z-index: 0;}
#headerMiddle .logo h1{display: block;float: left;}
/*#headerMiddle .logo h1 a{display: inline-block;background: url(images/themes/logo.png) no-repeat left top;width: 300px;height: 104px;}*/
#headerMiddle .logo .city{width: 70px;float: left;padding-top: 40px;padding-left: 5px;}
#headerMiddle .logo .city h2{height: 30px;line-height: 30px;}
#headerMiddle .logo .city span{height: 20px;line-height: 20px;display: inline-block;padding: 0px 5px;}
#headerMiddle .logo .city span.cur{background: #e6006d;color: #fff;}
#headerMiddle .logo .city span.cur a{color: #fff;}

#headerMiddle .searchBox{float: left;width: 550px;padding-top:30px;padding-left: 20px;}
.searchBox .top-search{width: 100%;overflow: hidden;clear: both;padding-top: 15px;}
.searchBox .top-search ul{clear: both;width: 100%;height: 30px;}
.searchBox .top-search ul li{float: left;padding: 0px 5px;height: 30px;line-height: 30px;}
.searchBox .top-search ul li a{font-size: 14px;display: block;float: left;font-weight: bold;padding: 0px 5px;}
.searchBox .top-search ul li.cur a{font-weight: bold;}
.top-search-words{height: 30px;line-height: 30px;}

.top-search-words span a{padding: 0px 3px;}
.head_search_input{width:430px;height: 30px;background: none;border:0px;float: left;padding: 0px 10px 0px 30px;color: #666;}
.serarchBtn{width: 70px;height: 30px;background: #3c3;border:0px;font-weight: bold;color: #fff;font-size: 14px;cursor: pointer;}



.buyCart{width: 230px;height: 100%;position: absolute;z-index: 1;right: 0px;top: 0px;}
.buyCartBox{background:#f7f7f7 url(images/themes/cart_icon.png) no-repeat 5px 8px;height:31px;display: block; padding-left: 35px;padding-right:5px;position: absolute;z-index: 1;right: 10px;top:40px;border:1px solid #eeeeee;}
.buyCartBox span{float: left;text-align: center;display: inline-block;height: 31px;line-height: 31px;}
.buyCartBox strong{color: #ee470d;font-weight: bold;font-size: 14px;display: block;float: left;height: 29px;padding:0px 5px 0px 5px;text-align: center;line-height: 29px;}
















  

#headerMiddle{width: 100%;height: 125px;position: relative;}
.path { width: 100%;height: 30px;line-height:30px;position: relative;}
.path a { color: #ee470d; text-decoration: none; }
.path a:hover {text-decoration: underline;  }
.path span { position: relative; top: 1px; padding-right: 3px; color: #285bcc; font-size: 18px; }

/*切换城市 Start*/
.h_m_boxWrap{width: 1200px;position: relative;height:125px;display: block;z-index: 9;zoom: 1;}
#cityBox{border:1px solid #e6006d;width:400px;padding: 10px 10px 20px 10px;position: relative;position: absolute;z-index: 999;left: 265px;top: 90px;background: #fff;zoom:1;}

.cityS_C01{width: 100%;overflow: hidden;}
.cityS_C01 .cityS_C01Hd{height: 40px;line-height: 40px;border-bottom: 1px solid #ececec;width: 100%;}
.cityS_C01 .cityS_C01Hd span{display: block;overflow: hidden;float: left;padding-right: 10px;}
.cityS_C01 .cityS_C01Hd b{display: block;float: left;}
.cityS_C01 .cityS_C01Bd{overflow: hidden;padding: 5px 0px;}
.cityS_C01 .cityS_C01Bd .s_c_ul li{float: left;padding: 0px 5px;height: 25px;line-height: 25px;}
.cityS_C01 .cityS_C01Bd .s_c_ul li a{display: block;overflow: hidden;padding: 0px 5px;}


/*
 * -------------------------------------------------------
 * ******************** footer.css ***********************
 * -------------------------------------------------------
 */

.footerBg{background: #f6f6f6;}
.helper{width: 100%;overflow: hidden;padding: 10px 0px;}
.helper ul li{float: left;width: 200px;overflow: hidden;}
.helper ul li dl dt{padding-left: 30px;height:40px;line-height: 40px;padding-left: 50px; }
.helper ul li dl dd{padding-left: 50px;height: 25px;line-height: 25px;}
.helper ul li.icon01 dl dt,.helper ul li.icon02 dl dt,.helper ul li.icon03 dl dt,.helper ul li.icon04 dl dt,.helper ul li.icon05 dl dt{background: url(images/themes/tree_icon01.png) no-repeat;}
.helper ul li.icon01 dl dt{background-position: 7px 5px;}
.helper ul li.icon02 dl dt{background-position: 7px -59px;}
.helper ul li.icon03 dl dt{background-position: 7px -125px;}
.helper ul li.icon04 dl dt{background-position: 7px -190px;}
.helper ul li.icon05 dl dt{background-position: 7px -255px;}

.b_t1{border-top:1px solid #e8e8e8;}
.footerSubNav01{width: 100%;text-align: center;overflow: hidden;padding: 10px 0px;}
.footerSubNav01 ul li{display: inline;padding: 0px 5px 0px 7px;height: 25px;line-height: 25px;overflow: hidden;}
.site_Info{text-align: center;}
.site_Info p{padding: 3px 0px;}

/*
 * -------------------------------------------------------
 * ******************** end footer.css *******************
 * -------------------------------------------------------
 */