
/************** global.css - No need to modify ***************************************************/
html{fonts-size:100%;}
body{margin:0;padding:0;font-family:'simsun','arial';background:#eee;font-size:0.875rem;}
body *{-webkit-tap-highlight-color: rgba(0,0,0,0);}
em,p,ul,dl,dt,dd,ins,h1,h2,h3,h4,form,h1,h2,h3,h4,ins{margin:0;padding:0;}
ins{text-decoration:none;}
em,i{font-style:normal;}
ul,ol{ list-style:none;}
input[type="button"], input[type="submit"]{-webkit-appearance:none;}
input[type="text"]{border-radius:4px;}
input,button,select,textarea{outline:none} 
textarea{resize:none}
img{border:0;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur());outline:none}

.w-full{width:100%;}
.wrap100{width:100%;}
.w-mall,.w,.w-shop,.w-user{margin:0 auto;}
.col-sub,.col-main{float:left;}
.col-bottom{ clear:both}
.clearfix:after{ content:'\20'; display:block; overflow:hidden; height:0; clear:both;}
.clear,.clr{clear:both; overflow:hidden;width:0;margin:0;padding:0; height:0; line-height:0; font-size:0;}
.clearboth{ clear:both;}
.hidden{ display:none}
.overflowHidden{ overflow:hidden;}
.float-left{float:left;}
.float-right{float:right;}
.relative{position:relative;}
.absolute{position:absolute;}
.inline-block{ display:inline-block;}
.block{ display:block}
.webkit-box{display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;}
.pointer{ cursor:pointer}
.yahei{font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;}
.price{ font-size:16px;color:#E4393C; font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif; font-weight:bold}
.bgf{ background:#fff;}
.gray{color:#999;}

/* margin,padding */
.margin5{margin:5px;}
.margin10{margin:10px;}
.mt5{margin-top:5px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.padding5{padding:5px;}
.padding10{padding:10px;}

/* text,color */
.fff{color:#fff;}
.f60{color:#ff6600;}
.f66{color:#666;}
.ddd{color:#ddd;}
.red{color:red;}

.fs18{font-size:18px}
.fs16{font-size:16px}
.fs14{font-size:14px}
.fs12{font-size:12px;}

.fw-normal{font-weight:normal;}
.strong{font-weight:bold;}
.center{ text-align:center}

/* border */
.border{border:1px #ddd solid}
.border-0{border:0;}
.border-t-0{border-top:0;}
.border-b-0{border-bottom:0;}
.border-top{border-top:1px #E5E5E5 solid;}
.border-bottom{border-bottom:1px #E5E5E5 solid;}
.border-left{border-left:1px #E5E5E5 solid}
.border-right{border-right:1px #E5E5E5 solid}

/*font-face*/
@font-face {font-family: "psmb-icon-font";
  src: url('../images/fontface/iconfont.eot'); /* IE9*/
  src: url('../images/fontface/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../images/fontface/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../images/fontface/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../images/fontface/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

/* btn */
.btn-alipay, .btn-alipay input{color: #fff;width:100%; font-size:1.25rem; border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; display: inline-block;background:#F29D18;height: 40px;line-height: 40px;border: 0;text-align: center;text-decoration: none;cursor: pointer;overflow: hidden; font-family: 'microsoft yahei';}
.btn-alipay-gray{ background:#ddd;}
.btn-alipay-red{ background:#E4393C}
.btn-alipay:hover, .btn-alipay:hover input { background:#F4B044; color: #fff;}
.btn-alipay-red:hover,.btn-alipay-red:hover input{ background:#E95A5D}

.btn-alipay-solid, .btn-alipay-solid span{display: inline-block;background: url(../images/member/3IgyctwEjp.png);height: 31px;line-height: 31px;border: 0;text-align: center;text-decoration: none;cursor: pointer;overflow: hidden; color:#fff;}
.btn-alipay-solid {background-position: 0 -355px;color: #fff;position: relative;margin-right: 10px;}
.btn-alipay-solid span{padding: 0 22px;background-position: right -503px;font-size: 14px;font-weight: 700;}
.btn-alipay-solid-white {background-position: 0 -429px;}
.btn-alipay-solid-white span{background-position: right -577px; color: #666;}
/* for safari only */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.btn-alipay-solid span{background-position: right -504px;}
.btn-alipay-solid-white span{background-position: right -578px;}
}

/* global banner */
.global-image-ads{ position:relative;text-align:center;margin:0px 5px 5px;}
.global-image-ads a{width:100%;display:block;}
.global-image-ads a img{display:block;width:100%;}
.global-image-ads .global-image-ads-content{text-align:center; margin:0 auto}
.global-image-ads .global-image-ads-botton{position:absolute;right:2px;top:2px; height:16px; width:16px; text-align:center; background:#CC0000;color:#fff; line-height:16px; cursor:pointer; font-weight:bold; font-family:"Microsoft yahei"; font-size:100%; vertical-align:baseline}

.icon-position{ background:url(../images/position.png) no-repeat left center #fff; background-size:15%; display:inline-block; padding-left:15px;}

/**************  global end  ***************************************************/





/************** common.css - Modified according to the situation ***************************************************/

a{color:#333;}
a:hover{color:#B00000; text-decoration:none}

.w-mall,.w{min-width:320px; max-width:640px;margin:0 auto;}
.w-shop{}
.w-user{}

img.lazyload{background:#fff url(../images/loading.gif) no-repeat center center;}


/*左侧或者右侧弹出层*/
.open-hide-layer body{width:100%;overflow-x:hidden;}
.page{position:relative;right: 0px; left: 0px; display: block; height: 100%; overflow: hidden;}
.menus{background:#333;position:fixed;top:0;right:-276px;height:100%;width:276px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;z-index:999;}
.masker{height:100%;width:100%;background:none;position:absolute;left:0px;top:0px;z-index:998;display:none;}

/* pageinfo */

.page-format{border:1px solid #ddd;width:100%;background:#fff;}
.page-format .wrap{position: relative;width:100%;height: 2.5rem;line-height: 2.5rem;text-align: center;}
.page-format .wrap .page-num {position: relative;display: inline-block;padding-right: 1.25rem;color: #999999;}
.page-format .wrap .page-num i{position: absolute;top: 1.063rem;right: 0;display: block;width: 0.75rem;height: 0.438rem;background-image: url(../images/icon16.png);background-repeat: no-repeat;background-size: 100%;}
.page-format .wrap .former{position: absolute;top: 0;left: 2.5rem;color: #999999;}
.page-format .wrap .down{position: absolute;top: 0;right:2.5rem;color: #999999;}


/* common notice */
.notice-word p{background:url(../images/member/T1CqmcXllwXXXXXXXX-64-1800.png) 3px -145px no-repeat #E5F5FF;border:1px #40B3FF solid;padding:0 5px 0 25px; line-height:25px;margin-bottom:20px; text-align:left;color:#3e3e3e;}
.notice-word p a{color:#0071BB; text-decoration:none}
.notice-word p a:hover{color:#f60; text-decoration:underline;}

.notice-word .blue-big{ background-position:10px -490px;  padding:17px 10px 17px 56px; font-size:14px;line-height:22px;}
.notice-word .yellow{border:1px #FFCC7F solid; background-color:#FFFFE5; background-position:3px -196px;}
.notice-word .yellow-big{border:1px #FFCC7F solid; background-color:#FFFFE5; background-position:10px -690px; color:#404040;padding:17px 10px 17px 56px; font-size:14px;line-height:22px;}
.notice-word b{color:red;}
.notice-word .price{color:#f60; font-weight:bold; font-family:Arial, Helvetica, sans-serif}
.notice-word .correct{ background-position:3px -246px;}
.notice-word .correct-nobg{border:0;background:url(../images/member/T1CqmcXllwXXXXXXXX-64-1800.png) 3px -246px no-repeat #fff}

/* site-nav */

#site-nav{ }

/************** common end ***************************************************/
