@charset "utf-8";
/* CSS Document */
strong{ color:#d20005; float:right;}
.address_info,.orderlist{ position:relative; border:#aaa solid 1px; background:#fff; overflow:hidden; color:#6b6b6b; margin:0px 10px 0; padding:15px 30px 15px 15px; font-size:14px; border-radius:5px 5px 0 0;}
.orderlist{ border-radius:5px;}
.address_info .radio{ display:inline-block; margin-right:10px; vertical-align:middle;}
.address_info a{ display:inline-block; width:90%;}
.address_info span{ line-height:30px; display:inline-block;}
.address_info .dt{ margin-left:25px;}
.address_info b{ display:block; float:right; font-size:20px; font-weight:bold; position:absolute; right:10px; top:35%;}
.address .new{ margin:0 10px 1px; border-radius:0 0 5px 5px; border-top:0;}
.address{margin-top:60px;}

.orderlist{ margin:10px; padding:0;}
.orderlist li{ border-bottom:#aaa solid 1px; padding:10px; overflow:hidden;}
.orderlist li img{ width:90px; height:90px; float:left; margin-right:10px;}
.orderlist li  p{height:30px; line-height:30px; overflow:hidden; }
.orderlist li span{ color:#333; }
.orderlist li:last-child{ border-bottom:none;}
.orderlist select{ border:#aaa solid 1px; padding:3px; color:#333;}
.total_price{ text-align:right; margin:0 10px 10px; padding:5px 10px; font-size:16px; overflow:hidden;}

.goods_info{ margin-top:80px; background:#fff; padding:10px 10px 0; overflow:hidden;}
.goods_info .goods{ border-bottom:#ccc dashed 1px; padding:10px;}
.goods_info .goods:last-child{ border-bottom:none;margin-bottom:none;}
.goods_info .goods img{ width:90px; height:90px; padding:5px;margin-right:10px;box-shadow:rgba(0,0,0,0.4) 0 0 3px;float:left;}
.goods_info .goods p{ height:30px; line-height:30px; color:#666;}
.goods_info .goods p.title{ height:40px; line-height:20px;overflow:hidden; color:#333;}
.goods_info strong{ float:none; margin-right:10px;}
.goods_info .cancel{ float:right;}
.goods_info .pay{ width:100%; overflow:hidden; margin:10px 0;}
.goods_info .pay a{ display:inline-block; padding:10px 5%; width:38%; text-align:center;}
.goods_line{background:url(../images/pp_2.png) repeat-x; display:block; height:14px;}

.orderinfo b{ width:60px; text-align:right; display:inline-block; margin-right:20px; height:20px;font-weight:normal; vertical-align:top;}
.orderinfo span{  text-align:left; display:inline-block;width:68%;}