<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$lang.ecmall_install_guide}</title>
<link href="templates/css/install.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{lib file='jquery.js'}" charset="utf-8"></script>
</head>

<body>

<div id="box">
    <div class="box_top"></div>
    <div class="main">

        <div class="top">
            <h1 title="{$lang.ecmall_install_guide}"><a href="http://ecmall.shopex.cn" target="_blank"></a></h1>
            <p>{$lang.welcome_install_ecmall}</p>
        </div>

        <h2>
            <span class="num">0{$step_num}.</span>
            <span class="title">{$step_name}</span>
            <span class="title_intro">{$step_desc}</span>
        </h2>
        <div class="step{$step_num}"></div>
        <form action="index.php?done={$doing}" method="POST" id="post_form">