{include file="header.html"}
<style type="text/css">
.aboutus_content { padding:20px; border-top:1px solid #B0D3EE; }
.about_item { margin-bottom:20px; }
.about_item .item_title { font-size:16px; font-weight:bold; padding:5px 0px 5px 5px; color:#0099FF; border-bottom:1px solid #B0D3EE; margin-bottom:10px; }
.about_item .item_text { text-indent:2em; }
.about_item .item_list { list-style:none; }
.about_item .item_list li { padding:8px; border-bottom:#e7e7e7 1px dotted; }
.about_item .item_list .item_list_title { display:block; float:left; width:120px; font-weight:bold; color:#333; }
.about_item .item_list .item_list_items a {  }
.item_list .subtitle { padding:5px 0px; color:#333; }
.item_list .subtitle span {  font-weight:normal; }
.item_list .subcontent { padding:5px 0px; }
</style>

<div class="aboutus_content">
    <div class="about_item">
        <h3 class="item_title">{$lang.our_logos}</h3>
        <ul class="item_list">
            <li>
                <div class="item_text">
                    {$lang.logos_detail}
                </div>
            </li>
        </ul>
    </div>
    <div class="about_item">
        <h3 class="item_title">{$lang.our_team}</h3>
        <ul class="item_list">
            <li>
                <span class="item_list_title">{$lang.project_manager}&nbsp;:&nbsp;</span>
                <span class="item_list_items"><span class="pepl"><a href="http://ecmall.shopex.cn">Scott Ye</a></span></span>
            </li>
            <li>
                <span class="item_list_title">{$lang.core_developer}&nbsp;:&nbsp;</span>
                <span class="item_list_items">
                    <span class="pepl"><a href="http://www.garbin.net">Garbin Huang</a></span>,&nbsp;
                    <span class="pepl"><a href="http://ecmall.shopex.cn/bbs">Hyber Lee</a></span>,&nbsp;
                    <span class="pepl"><a href="http://ecmall.shopex.cn/bbs">Xiaocheng</a></span>,&nbsp;
                    <span class="pepl"><a href="http://ecmall.shopex.cn/bbs">Mr.Demon</a></span>,&nbsp;
                    <span class="pepl"><a href="http://ecmall.shopex.cn/bbs">Leo</a></span>
                </span>
            </li>
            <li>
                <span class="item_list_title">{$lang.designer}&nbsp;:&nbsp;</span>
                <span class="item_list_items"><span class="pepl"><a href="http://ecmall.shopex.cn/bbs">yecoir</a></span></span>
            </li>
        </ul>
    </div>
    <div class="about_item">
        <h3 class="item_title">{$lang.close_to_us}</h3>
        <ul class="item_list">
            <li>
                <div class="subtitle"><strong>{$lang.offical_bbs}</strong>&nbsp;&nbsp;&nbsp;(&nbsp;<span>{$lang.offical_bbs_note}</span>&nbsp;)&nbsp;</div>
                <div class="subcontent"><a href="http://ecmall.shopex.cn/bbs">http://ecmall.shopex.cn/bbs</a></div>
            </li>
            <li>
                <div class="subtitle"><strong>{$lang.offical_site}</strong>&nbsp;&nbsp;&nbsp;(&nbsp;<span>{$lang.offical_site_note}</span>&nbsp;)&nbsp;</div>
                <div class="subcontent"><a href="http://ecmall.shopex.cn">http://ecmall.shopex.cn</a></div>
            </li>
        </ul>
    </div>
    <div class="about_item">
        <h3 class="item_title">{$lang.contributor}</h3>
        <ul class="item_list">
            <li>
                <div class="subtitle"><strong>{$lang.thanks_contributor}</strong></div>
                <div class="subcontent">
                    <span class="pepl">Weber Liu</span>,&nbsp;
                    <span class="pepl">Redstone</span>,&nbsp;
                    <span class="pepl">Anders Lau</span>,&nbsp;
                    <span class="pepl">Wenjin Zhang</span>,&nbsp;
                    <span class="pepl">Zhaofei Xing</span>,&nbsp;
                    <span class="pepl">Hengqi Lu</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="about_item">
        <h3 class="item_title">{$lang.statement}</h3>
        <ul class="item_list">
            <li>
                {$lang.company_all_right_reserved}
            </li>
            <li>
                {$lang.other_copyright}
            </li>
        </ul>
    </div>
</div>
{include file="footer.html"}
