{include file="header.html"}
<div id="rightTop">
  <p>{$lang.admin}</p>
  <ul class="subnav">
    <li><a class="btn1" href="index.php?app=admin">{$lang.manage}</a></li>
    <li><span>{$lang.add}</span></li>
  </ul>
</div>
<div class="info">
  <form method="post" enctype="multipart/form-data" id="test_form">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> {$lang.user_name}:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="user_name" type="text" id="user_name" /><label class="field_notice">{$lang.input_user_name}</label></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
          <input class="formbtn" type="reset" name="Reset" value="{$lang.reset}" /></td>
      </tr>
    </table>
  </form>
</div>
{include file="footer.html"} 