{include file="header.html"}
<script language="javascript">
$(function(){
    $("input[name='backup_type']").each(function(){
    $(this).click(function(){
        if($(this).val() == 'backup_custom'){
            $("*[ectype='tables']").show();
            $("*[ectype='tables']").find('input').removeAttr('disabled');
        }else{
            $("*[ectype='tables']").hide();
            $("*[ectype='tables']").find('input').attr('disabled','true');
        }
    });
    });
});
</script>
<div id="rightTop">
    <p>{$lang.db}</p>
    <ul class="subnav">
        <!--{if $smarty.get.act eq 'backup'}-->
        <li><span>{$lang.backup}</span></li>
        <!--{else}-->
        <li><a class="btn1" href="index.php?app=db&amp;act=backup">
        {$lang.backup}</a></li>
        <!--{/if}-->
        <!--{if $smarty.get.act eq 'restore'}-->
        <li><span>{$lang.restore}</span></li>
        <!--{else}-->
        <li><a class="btn1" href="index.php?app=db&amp;act=restore">
        {$lang.restore}</a></li>
        <!--{/if}-->
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data">
        <table class="infoTable">
            <tr>
              <th class="paddingT15">{$lang.backup_type}:</th>
              <td class="paddingT15 wordSpacing5"><input name="backup_type" type="radio" id="backup_all" value="backup_all" checked="checked" />
              <label for="backup_all">{$lang.backup_all}</label> <input type="radio" name="backup_type" id="backup_custom" value="backup_custom" />
              <label for="backup_custom">{$lang.backup_custom}</label></td>
            </tr>
            <tr style="display:none" ectype="tables">
                <th class="paddingT15">
                    {$lang.tables}:</th>
                <td class="paddingT15 wordSpacing5">
                <ul>
                <li style="height:20px;"><input id="checkall" disabled="true" type="checkbox" class="checkall" checked="checked" />
                <label for="checkall">{$lang.checkall}</label>
                </li>
                <!--{foreach from=$tables key=table item=item}-->
                <li style="float:left; width:28%; height:20px;"><input name="tables[{$table}]" class="checkitem" disabled="true" type="checkbox" value="-1" checked="checked" />{$table}</li>
                <!--{/foreach}-->
                </ul>                </td>
            </tr>

            <tr style="display:none">
            <th class="paddingT15">{$lang.ext_insert}:</th>
            <td class="paddingT15 wordSpacing5">
            <input id="yes" type="radio" name="ext_insert" value="1" />
            <label for="yes">{$lang.yes}</label>
            <input id="no" type="radio" name="ext_insert" value="0" checked="checked" />
            <label for="no">{$lang.no}</label>
            <label class="field_notice">{$lang.ext_note}</label>
            </td>
        </tr>

        <tr>
            <th class="paddingT15">{$lang.vol_size}(kb):</th>
            <td class="paddingT15 wordSpacing5">
            <input name="vol_size" value="{$vol_size}" />
            <label class="field_notice">{$lang.vol_size_note}</label>
            </td>
        </tr>
        <tr>
            <th class="paddingT15">{$lang.backup_name}:</th>
            <td class="paddingT15 wordSpacing5">
             <input name="backup_name" value="{$backup_name}" />
             <label class="field_notice">{$lang.backup_name_note}</label>
             </td>
        </tr>
        <tr>
            <th></th>
            <td class="ptb20">
                <input class="formbtn" type="submit" value="{$lang.submit}" onclick="return drop_confirm('{$lang.db_operate_confirm}');"/>
                <input class="formbtn" type="reset" name="Submit2" value="{$lang.reset}" />            </td>
        </tr>
        </table>
  </form>
</div>
{include file="footer.html"}
