{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#groupbuy_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        rules : {    
            content: {
                required : true
            } 
        },
        messages : {
            content: {
                required : '{$lang.content_required}'
            } 
        }
    });

});

</script>
<div id="rightTop">
  <p>{$lang.groupbuy}</p>
  <ul class="subnav">
    <li><a class="btn1" href="index.php?app=groupbuy">{$lang.manage}</a></li>
    <li><span>{$lang.groupbuy_do_back}</span></li>
  </ul>
</div>
<div class="info">
<form method="POST" id="groupbuy_form">
<table class="infoTable">
    <tr>
        <th class="paddingT15">{$lang.content}:</th>
        <td class="paddingT15 wordSpacing5"><textarea name="content"></textarea></td>
    <tr>
    <tr>
        <th class="paddingT15"> </th>
        <td class="ptb20"><input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
          <input class="formbtn" type="reset" name="Submit2" value="{$lang.reset}" /></td>
    </tr>
</table>
</form>
</div>
{include file="footer.html"}