<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Use IE7 mode -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7 charset={$charset}" />
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title> ECMall </title>
<link href="templates/style/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
//<!CDATA[
var SITE_URL = "{$site_url}";
var REAL_SITE_URL = "{$real_site_url}";
var REAL_BACKEND_URL = "{$real_backend_url}";
//]]>
</script>
<script type="text/javascript" src="{lib file=jquery.js}" charset="utf-8"></script>
<script type="text/javascript" src="{lib file=ecmall.js}" charset="utf-8"></script>
<script type="text/javascript" src="{res file=js/admin.js}" charset="utf-8"></script>
<script type="text/javascript" src="index.php?act=jslang"></script>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
{$_head_tags}
</head>
<body>