<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7 charset={$charset}" />
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<script type="text/javascript" src="{lib file=jquery.js}" charset="utf-8"></script>
<script type="text/javascript" src="index.php?act=jslang"></script>
<script type="text/javascript">
function submit_form(obj)
{
    obj.attr('disabled', 'disabled');
    $('#image_form').submit();
    obj.removeAttr('disabled');
}
</script>
</head>
<body>
<form action="index.php?app=comupload&act=uploadedfile" method="post" enctype="multipart/form-data" style="display:inline;" id="image_form">
<input type="hidden" name="id" value="{$id}">
<input type="hidden" name="belong" value="{$belong}">
<input type="file" name="file">
<input type="button" value="{$lang.upload}" onclick="submit_form($(this))">
</form>
</body>
</html>