<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Use IE7 mode -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="Content-Type" content="text/html;charset={$charset}" />
<title>{$lang.ecmall_admin} </title>
<link href="templates/style/admin.css" rel="stylesheet" type="text/css" />
<link href="templates/style/zx/font/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="templates/style/zx/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{lib file=jquery.js}" charset="utf-8"></script>
<script type="text/javascript" src="{lib file=ecmall.js}" charset="utf-8"></script>
<script type="text/javascript">
var menu = {$menu_json};
</script>

<script type="text/javascript" src="{res file=js/index.js}" charset="utf-8"></script>
</head>
<body>
<div class="back_nav">
    <div class="back_nav_list">
    <!--{foreach from=$back_nav key=key item=menu}-->
        <dl>
            <dt>{$menu.text}</dt>
            <!--{foreach from=$menu.children key=sub_key item=sub_menu}-->
            <dd><a href="javascript:;" onclick="openItem('{$sub_key}','{$key}');none_fn();">{$sub_menu.text}</a></dd>
            <!--{/foreach}-->
        </dl>
    <!--{/foreach}-->
    </div>
    <div class="shadow"></div>
    <div class="close_float"><img src="templates/style/images/close2.gif" /></div>
</div>
<div id="head">
    <div id="logo"><a href="index.php"><img src="templates/style/images/logo.png" alt="" /></a></div>
    <div id="license"></div>    
    <div id="menu"><span>{$lang.hello}<strong>{$visitor.user_name}</strong> <a href="index.php?act=logout" class="nav-icon-item"><i class="fa fa-sign-out"></i></a> <a href="{$site_url}/index.php" target="_blank" class="nav-icon-item"><i class="fa fa-home"></i></a></span>
    <a href="javascript:;"  id="iframe_refresh" class="nav-icon-item"><i class="fa fa-refresh"></i></a>
    <a href="javascript:;" id="clear_cache" class="nav-icon-item"><i class="fa fa-trash"></i></a>
    </div>
    <ul id="nav">
    </ul>
    <div id="headBg"></div>
</div>
<div id="content">
    <div id="left">
        <div id="leftMenus">
            <dl id="submenu">
                <dt><i class=" fa fa-th-list"></i><a class="" id="submenuTitle" href="javascript:;"></a></dt>
            </dl>
            <dl id="history" class="history">
                <dt>
                    <i class="fa fa-clock-o"></i><a class= id="historyText" href="#">{$lang.action_history}</a>
                </dt>
            </dl>
         </div>
    </div>
    <div id="right">
        <iframe frameborder="0" style="display:none;" width="100%" id="workspace"></iframe>
    </div>
</div>


<script type="text/javascript">
   

</script>
<style type="text/css">
    #logo {left:10px;}
</style>
</body>
</html>
