<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$lang.login_required}- Powered by ECMall</title>
<script type="text/javascript" src="{lib file=jquery.js}" charset="utf-8"></script>
<script type="text/javascript" src="{lib file=ecmall.js}" charset="utf-8"></script>
<link href="templates/style/admin.css" rel="stylesheet" type="text/css" />
<link href="templates/style/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
if (self != top)
{
    /* 在框架内，则跳出框架 */
    top.location = self.location;
}
$(function(){
    $('#user_name').focus();
});
</script>
</head>
<body>
<div id="enter">
    <h1><img alt="{$lang.ecmall_admin}" src="templates/style/images/enter_logo.gif" /></h1>
    <table>
    <form method="post">
        <tr>
            <td>{$lang.username}:</td>
            <td colspan="3"><input class="text" type="text" id="user_name" name="user_name" /></td>
        </tr>
        <tr>
            <td>{$lang.password}:</td>
            <td class="width160"><input class="text" type="password" name="password" /></td>
            <!--{if $captcha}-->
            <td>{$lang.captcha}:</td>
            <td><input class="text2" type="text" name="captcha" /> <div class="validates"><img onclick="this.src='index.php?app=captcha&' + Math.round(Math.random()*10000)" style="cursor:pointer;" class="validate" src="index.php?app=captcha&{$random_number}" /></div></td>
            <!--{else}-->
            <td colspan="2">&nbsp;</td>
            <!--{/if}-->
        </tr>
        <tr>
            <th  colspan="4">
            <input class="btnEnter" type="submit" name="" value="" />
            <input class="btnBack" type="button" name="" value="" onclick="go('{$site_url}')"/>
            <input class="btnBorget" type="button" name="" value="" onclick="go('{$site_url}/index.php?app=find_password')"/>
            <p>&copy; 2003-2012 ShopEx inc. Powered by ECMall</p>
            </th>
        </tr>
    </form>
    </table>
</div>

</body>
</html>
