<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$lang.login_required}</title>

<link href="templates/style/zx/font/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link rel="stylesheet" href="templates/style/zx/font/css/font-awesome-ie7.min.css">
<![endif]-->
<link href="templates/style/zx/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{lib file=jquery.js}" charset="utf-8"></script>
<script type="text/javascript" src="{lib file=ecmall.js}" charset="utf-8"></script>
</head>
<script type="text/javascript">
if (self != top)
{
    /* 在框架内，则跳出框架 */
    top.location = self.location;
}
$(function(){
    $('#user_name').focus();
});
</script>
<body>
<div class="container">
	<div class="up"></div>
	<div class="down">
	<div class="footer">
		<div class="ver">本系统由360cd.cn免费提供全部技术支持</div>
	</div>
		
	</div>
	<div class="box">
		<!--  -->
		<div class="main">
		<div class="title">ECMOS电商后台管理系统</div>
			<form method="post">
			<div class='zx-form-group'>
				<label for="{$lang.username}">{$lang.username}</label>
				<div class="zx-form-input"><input type="text" name="user_name" placeholder="管理员用户名"></div>
			</div>
			<div class='zx-form-group'>
				<label for="{$lang.password}">{$lang.password}</label>
				<div class="zx-form-input"><input type="password" name="password" placeholder="管理员密码"></div>
			</div>
			<!--{if $captcha}-->
			<div class='zx-form-group'>
				<label for="{$lang.captcha}">{$lang.captcha}</label>
				<div class="zx-form-input"><input type="text" name="captcha" class="checkcode"> <div class="validates"><img onclick="this.src='index.php?app=captcha&' + Math.round(Math.random()*10000)" style="cursor:pointer;" class="validate" src="index.php?app=captcha&{$random_number}" /></div></div>
			</div>
			
			<!--{/if}-->
			<div class='zx-form-group'><br>
				<div class="zx-form-input"><input type="submit" value="{$lang.submit}"></div>
			</div>
		</form>
		</div>
		

	</div>
</div>
</body>
</html>