{include file="header.html"}
{$build_editor}
<div id="rightTop">
    <p>{$lang.noticetemplate}</p>
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=mailtemplate&amp;type={$notice_mail}">{$lang.mailtemplate}</a></li>
        <li><a class="btn1" href="index.php?app=mailtemplate&amp;type={$notice_msg}">{$lang.msgtemplate}</a></li>
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data">
        <table class="infoTable">
            <tr>
                <th class="paddingT15">
                    <label for="link">{$lang.message_content}:</label></th>
                <td class="paddingT15 wordSpacing5">
                    <textarea style="width:650px;height:300px;" name="msgtemplate">{$msgtemplate}</textarea>
                </td>
            </tr>
            <tr>
            <th></th>
            <td class="ptb20">
                <input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
                <input class="formbtn" type="reset" name="reset" value="{$lang.reset}" />
            </td>
        </tr>
        </table>
    </form>
</div>
{include file="footer.html"}
