<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title> {$lang.ecmall_sysmsg} </title>
<link href="templates/style/admin.css" rel="stylesheet" type="text/css" />
<style>
<!--
body {background: none}
h1 {font-size: 13px; color: #444; line-height: 55px; background: url(templates/style/images/welcome_h1.gif); padding-left: 2%}
dl {line-height: 40px; background: url(templates/style/images/welcome.gif) no-repeat left 10px; padding-left: 40px; margin: 35px 0 45px 15%}
dt {color: #009de6}
dd {color: #444;}
a {color: #06c}
a:hover {color: #09f}
p {color: #999; border-top: 1px solid #cbe4f5; text-align: center; padding-top: 20px;}
-->
</style>
</head>

<body>
<h1>{$lang.ecmall_sysmsg}</h1>
<dl>
    <dt>{$lang.title}</dt>
    {if $auto_redirect eq 1}
    <dd><a href="{$auto_link}" class="forwrd">{$lang.special_msg}</a></dd>
    <script type="text/javascript">
    setTimeout("window.location.replace('{$auto_link}');", 1250);
    </script>
    {/if}
    {if $auto_redirect eq 2}
    <dd><a href="{$auto_link}" class="forward">{$lang.common_msg}</a></dd>
    <script type="text/javascript">
    setTimeout("window.location.replace('{$auto_link}');", 5000);
    </script>
    {/if}
</dl>
<p></p>
</body>
</html>
