{include file="header.html"}
<div id="rightTop">
    <p><b>{$lang.order_detail}</b></p>
</div>
<div class="info">
    <div class="demand">
    </div>
    <div class="order_form">
        <h1>{$lang.order_status}</h1>
        <ul>
            <li><b>{$lang.order_sn}:</b>{$order.order_sn}{if $order.extension eq 'groupbuy'}[{$lang.groupbuy}]{/if}&nbsp;&nbsp;&nbsp;<!--{if $order.group_id}-->[<a href="{$site_url}/index.php?app=groupbuy&id={$order.group_id}" target="_blank">{$lang.groupbuy_detail}</a>]<!--{/if}--></li>
            <li><b>{$lang.order_status}:</b> {$order.status|modifier:order_status}</li>
            <li><b>{$lang.order_amount}:</b> <span class="red_common">{$order.order_amount|price}</span>({$lang.preference}:{$order.discount|price})</li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="order_form">
        <h1>{$lang.order_detail}</h1>
        <h2>{$lang.order_info}</h2>
        <ul>
            <li><b>{$lang.buyer_name} :</b> {$order.buyer_name|escape}</li>
            <li><b>{$lang.seller_name} :</b> {$order.seller_name|escape}</li>
            <!--{if $order.payment_code}-->
            <li><b>{$lang.payment_name}:</b>{$order.payment_name|escape}</li>
            <!--{/if}-->
            <!--{if $order.pay_message}-->
            <li><b>{$lang.pay_message}:</b>{$order.pay_message|escape}</li>
            <!--{/if}-->
            <li><b>{$lang.add_time}:</b>{$order.add_time|date:complete}</li>
            <!--{if $order.pay_time}-->
            <li><b>{$lang.pay_time}:</b>{$order.pay_time|date:complete}</li>
            <!--{/if}-->
            <!--{if $order.ship_time}-->
            <li><b>{$lang.ship_time}:</b>{$order.ship_time|date:complete}</li>
            <!--{/if}-->
            <!--{if $order.finished_time}-->
            <li><b>{$lang.finished_time}:</b>{$order.finished_time|date:complete}</li>
            <!--{/if}-->
            <!--{if $order.postscript}-->
            <li><b>{$lang.postscript}:</b>{$order.postscript|escape}</li>
            <!--{/if}-->
        </ul>
        <div class="clear"></div>
    </div>

    <div class="order_form">
        <h2>{$lang.consignee_info}</h2>
        <ul>
            <li><b>{$lang.consignee}:</b> {$order_extm.consignee|escape}</li>
            <li><b>{$lang.region}:</b> {$order_extm.region_name|escape}</li>
            <li><b>{$lang.zipcode}:</b> {$order_extm.zipcode|escape}</li>
            <li><b>{$lang.phone_tel}:</b> {$order_extm.phone_tel|escape}</li>
            <li><b>{$lang.phone_mob}:</b> {$order_extm.phone_mob|escape}</li>
            <li><b>{$lang.address}:</b> {$order_extm.address|escape}</li>
            <li><b>{$lang.shipping_name}:</b> {$order_extm.shipping_name|escape}</li>
            <!--{if $order.invoice_no}-->
            <li><b>{$lang.invoice_no}:</b> {$order.invoice_no|escape}</li>
            <!--{/if}-->
        </ul>
        <div class="clear"></div>
    </div>
    <div class="order_form">
        <h2>{$lang.goods_info}</h2>
        <!--{foreach from=$goods_list item=goods}-->
        <div class="order_info">
            <a href="{$site_url}/index.php?app=goods&amp;id={$goods.goods_id}" target="_blank" class="order_info_pic"><img width="50" height="50" alt="{$lang.goods_pic}" src="{$goods.goods_image}" /></a>
            <div class="order_info_text"><a href="{$site_url}/index.php?app=goods&amp;id={$goods.goods_id}" target="_blank">{$goods.goods_name|escape}</a><br />{$goods.specification|escape}</div>
            <p><b>{$lang.price} :</b> <span class="red_common">{$goods.price|price}</span></p>
            <p><b>{$lang.quantity} :</b> {$goods.quantity}</p>
        </div>
        <!--{/foreach}-->
        <div class="clear"></div>
    </div>
</div>

{include file="footer.html"}
