{include file="header.html"}
<div id="rightTop">
  <p>{$lang.recommend}</p>
  <ul class="subnav">
    <li><span>{$lang.manage}</span></li>
    <li><a class="btn1" href="index.php?app=recommend&amp;act=add">{$lang.add}</a></li>
  </ul>
</div>
<div class="mrightTop">
  <div class="fontl">
    <form method="get">
       <div class="left">
          <input type="hidden" name="app" value="recommend" />
          <input type="hidden" name="act" value="index" />
          {$lang.recom_name}:
          <input class="queryInput" type="text" name="recom_name" value="{$smarty.get.recom_name|escape}" />
          <input type="submit" class="formbtn" value="{$lang.query}" />
      </div>
      <!--{if $filtered}-->
      <a class="left formbtn1" href="index.php?app=recommend">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
  </div>
  <div class="fontr">{include file=page.top.html}</div>
</div>
<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">
    <!--{if $recommends}-->
    <tr class="tatr1">
      <td width="20" class="firstCell"><input type="checkbox" class="checkall" /></td>
      <td>{$lang.recom_name}</td>
      <td>{$lang.goods_count}</td>
      <td class="handler">{$lang.handler}</td>
    </tr>
    <!--{/if}-->
    <!--{foreach from=$recommends item=recommend}-->
    <tr class="tatr2">
      <td class="firstCell"><input type="checkbox" class="checkitem" value="{$recommend.recom_id}" /></td>
      <td>{$recommend.recom_name|escape}</td>
      <td>{$recommend.goods_count|default:0}</td>
      <td class="handler"><a href="index.php?app=recommend&amp;act=edit&amp;id={$recommend.recom_id}">{$lang.edit}</a> | <a href="javascript:drop_confirm('{$lang.drop_confirm}', 'index.php?app=recommend&amp;act=drop&amp;id={$recommend.recom_id}');">{$lang.drop}</a> | <a href="index.php?app=recommend&amp;act=view_goods&amp;id={$recommend.recom_id}">{$lang.view_recommended_goods}</a></td>
    </tr>
    <!--{foreachelse}-->
    <tr class="no_data">
      <td colspan="10">{$lang.no_data}</td>
    </tr>
    <!--{/foreach}-->
  </table>
  <!--{if $recommends}-->
  <div id="dataFuncs">
    <div id="batchAction" class="left paddingT15"> &nbsp;&nbsp;
      <input class="formbtn batchButton" type="button" value="{$lang.drop}" name="id" uri="index.php?app=recommend&act=drop" presubmit="confirm('{$lang.drop_confirm}');" />
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
  </div>
  <!--{/if}-->
  <div class="clear"></div>
</div>
{include file="footer.html"} 