{include file="header.html"}
<script type="text/javascript">
</script>
<style type="text/css">
<!--
body {background: none}
#rightTop p {padding-top: 5px;}
#rightCon { list-style:none; }
#rightCon li { float:left; margin:10px; }
#rightCon .page_item { margin:5px; text-align:center; width:90px; height:120px; }
#rightCon .page_item h3 { background:#eee; border:#ddd 1px solid; color:#4DA1E0; margin-bottom:3px; height:20px; line-height:20px; font-size:13px; }
#rightCon .page_item div { background:#eee; border:#ddd 1px solid; height:85px; line-height:97px; }
#rightCon .page_item input { padding:0px 5px; margin-top:50px; }
-->
</style>
<div id="rightTop">
<p>
    <b>{$lang.template_setting}</b><br />
</p>

</div>
<ul id="rightCon">
    <!--{foreach from=$pages item=page_url key=page}-->
    <li>
        <div class="page_item">
            <h3>{$lang.$page}</h3>
            <div>
                <form action="index.php" target="_blank">
                <input type="hidden" name="app" value="template" />
                <input type="hidden" name="act" value="edit" />
                <input type="hidden" name="page" value="{$page}" />
                <input type="submit" value="{$lang.edit}" />
                </form>
            </div>
        </div>
    </li>
    <!--{/foreach}-->
</ul>
<div style="clear:both"></div>
{include file="footer.html"}
