{include file="header.html"}
<script type="text/javascript">
function clean_file()
{
    $.getJSON('index.php?app=widget&act=clean_file', function(data){
        if (!data.done)
        {
            alert(data.msg);

            return;
        }
        else
        {
            if (confirm(data.msg))
            {
                $.getJSON('index.php?app=widget&act=clean_file&continue', function(rzt){
                    alert(rzt.msg);
                });
            }
        }

    });
}
</script>
<div id="rightTop">
    <p><strong>{$lang.widget_manage}</strong>[<a href="javascript:void(0);" onclick="clean_file();" title="{$lang.clean_file_note}">{$lang.clean_file}</a>]</p>
</div>
<div class="tdare info">
    <table width="100%" cellspacing="0">
        <!--{if $widgets}-->
        <tr class="tatr1">
            <td width="15%">{$lang.widget_name}</td>
            <td align="left">{$lang.widget_description}</td>
            <td width="10%">{$lang.author}</td>
            <td width="50">{$lang.version}</td>
            <td class="handler" style="width:150px;">{$lang.handler}</td>
        </tr>
        <!--{/if}-->
        <!--{foreach from=$widgets item=widget}-->
        <tr class="tatr2">
            <td>{$widget.display_name|escape}</td>
            <td align="left">{$widget.desc|escape}</td>
            <td><a href="{$widget.website}" target="_blank" title="{$lang.author_website}">{$widget.author|escape}</a></td>
            <td>{$widget.version|escape}</td>
            <td class="handler">
                <a href="index.php?app=widget&amp;act=edit&name={$widget.name}&file=script">{$lang.edit_widget_script}</a>
                |
                <a href="index.php?app=widget&amp;act=edit&name={$widget.name}&file=template">{$lang.edit_widget_template}</a>
                </td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="5">{$lang.no_installed_widget}</td>
        </tr>
        <!--{/foreach}-->
    </table>
</div>
{include file="footer.html"}
