@charset "utf-8";
/*
 * Name: base.less
 * Description: function,ie hack
 * Creator: iRuxu,Dora
 * Modify: iRuxu
 * Update: 2015-6-27
 * API: http://iruxu.com/LessLab/
 */
/*
 * Responsive.less v2.0 
 * Author:iRuxu
 * Creat:2014.8
 * Update:2015.6.11
 * https://github.com/iRuxu/LessLab
 */
/*新PC适配方案（JS）
----------------------------------------*/
.screen-xl html {
  font-size: 100%;
}
.screen-l html {
  font-size: 100%;
}
.screen-m html {
  font-size: 100%;
}
.screen-s html {
  font-size: 100%;
}
.screen-xs html {
  font-size: 100%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  html {
    font-size: 300%;
  }
}
/*手机适配
----------------------------------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) and (orientation: landscape) {
  html {
    font-size: 200%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) and (orientation: portrait) {
  html {
    font-size: 200%;
  }
}
#head {
  height: 48px;
  background-color: #0099cc;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: #0082ae;
}
#logo img {
  height: 48px;
}
#logo {
  top: 0;
}
#headBg,
#head,
.actived,
#nav {
  height: 48px;
}
.actived,
#headBg,
.link,
#head,
.actived,
#leftMenus dt,
body {
  background-image: none;
}
.link,
.link:hover,
.actived {
  padding: 0 20px;
}
.link {
  color: #ccebf5;
}
.link:hover {
  color: #f8f8f9;
  background-color: #0082ae;
}
.actived {
  width: auto;
  color: #f8f8f9;
  background-color: #0082ae;
  line-height: 48px;
}
#nav {
  bottom: auto;
  line-height: 48px;
  left: 200px;
}
#leftMenus dt {
  background-color: #1a3745;
  border-left-width: 0;
  line-height: 38px;
  height: 38px;
}
#leftMenus dt a {
  line-height: 38px;
  height: 38px;
  color: #F8F8F9;
  font-size: 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-left: 0;
}
#leftMenus dt a:hover {
  padding-left: 0;
}
#leftMenus dt i.fa-th-list {
  margin: 0 15px 0 15px;
  color: white;
  font-size: 15px;
}
#leftMenus dt i.fa-clock-o {
  margin: 0 15px 0 15px;
  color: white;
  font-size: 15px;
}
#leftMenus dd {
  padding-left: 0;
  background-color: #214556;
  border-width: 0;
  line-height: 38px;
  height: 38px;
  background-image: none;
}
#leftMenus dd a {
  line-height: 38px;
  height: 38px;
  font-size: 14px;
  color: #F8F8F9;
}
#leftMenus dd a:hover {
  font-weight: bold;
  color: #F8F8F9;
}
#leftMenus dd a.selected {
  color: #F8F8F9;
}
#leftMenus dd.colorurrent,
#leftMenus dd.hover {
  background-color: #0099cc;
  font-weight: 600;
  cursor: pointer;
  color: #F8F8F9;
}
#leftMenus dd.hover {
  background-color: #446F7D;
}
#leftMenus dd .close {
  top: 13px;
}
#leftMenus dd .close i.fa-times {
  font-size: 12px;
}
#leftMenus i.fa-star-o {
  margin: 0 15px 0 17px;
  font-size: 13px;
  color: #ffffff;
}
#head #menu {
  color: #fff;
  top: 9px;
  width: 250px;
  *width: 250px;
}
#head #menu a {
  text-decoration: none;
  vertical-align: bottom;
}
#head #menu a.nav-icon-item {
  color: #fff;
  margin: 0 3px;
}
#head #menu a i {
  width: 25px;
  bottom: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: none;
  margin-right: 0px;
}
#head #menu a i.fa-sign-out {
  font-size: 20px;
  *font-size: 24px;
  position: relative;
  *zoom: 1;
  top: 3px;
}
#head #menu a i.fa-home {
  font-size: 20px;
  *font-size: 24px;
  position: relative;
  *zoom: 1;
  top: 3px;
}
#head #menu a i.fa-refresh {
  font-size: 18px;
  *font-size: 22px;
  position: relative;
  *zoom: 1;
  top: 6px;
}
#head #menu a i.fa-trash {
  font-size: 18px;
  *font-size: 22px;
  position: relative;
  *zoom: 1;
  top: 6px;
}
#left {
  width: 200px;
  display: inline-block;
  background-color: #214556;
  float: left;
}
#right {
  float: left;
  width: 80%;
}
#rightTop {
  background-color: #F8F8F9;
  border-bottom: 1px solid #DADBDC;
  font-size: 14px;
  line-height: inherit;
}
#rightTop .btn1 {
  background-image: none;
  background: none;
  border: none;
  color: black;
}
.subnav li i {
  line-height: 46px;
  height: 46px;
  margin-top: -14px;
  border: 1px solid #DADBDC;
  padding: 0 20px;
  border-bottom: 0px;
  text-align: center;
  display: block;
  background-color: #FBFDFF;
}
.info {
  background: none;
  border: none;
}
.infoTableInput,
.infoTableInput2,
.infoTableFile {
  line-height: 24px;
  height: 24px;
}
.infoTableInput2 {
  max-width: 60%;
  min-width: 210px;
}
.paddingT15 input {
  line-height: 24px;
  height: 24px;
}
.paddingT15 input[type=checkbox],
.paddingT15 input[type=radio] {
  vertical-align: middle;
}
.infoTable select {
  line-height: 28px;
  height: 28px;
}
.mrightTop {
  background-image: none;
  line-height: 50px;
  height: 50px;
}
.mrightTop .fontl {
  padding-top: 0;
  margin-top: 0px;
  font-size: 13px;
  line-height: inherit;
}
.mrightTop .fontr {
  padding-top: 0;
  margin-top: 0px;
  font-size: 13px;
  line-height: inherit;
  line-height: 40px;
  height: auto;
  margin: 10px 0;
}
.mrightTop .queryInput,
.mrightTop .queryInput2 {
  line-height: 25px;
  height: 25px;
  width: 150px;
}
.mrightTop .querySelect {
  line-height: 27px;
  height: 27px;
  font-size: 13px;
  line-height: inherit;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.mrightTop .fontl {
  line-height: 40px;
  height: auto;
  margin: 10px 0;
}
.mrightTop1 {
  background-image: none;
  line-height: 50px;
  height: 50px;
  line-height: 25px;
  height: auto;
}
.mrightTop1 .fontl {
  padding-top: 0;
  margin-top: 0px;
  font-size: 13px;
  line-height: inherit;
}
.mrightTop1 .fontr {
  padding-top: 0;
  margin-top: 0px;
  font-size: 13px;
  line-height: inherit;
  line-height: 40px;
  height: auto;
  margin: 10px 0;
}
.mrightTop1 .queryInput,
.mrightTop1 .queryInput2 {
  line-height: 25px;
  height: 25px;
  width: 150px;
}
.mrightTop1 .querySelect {
  line-height: 27px;
  height: 27px;
  font-size: 13px;
  line-height: inherit;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.mrightTop1 .fontl {
  line-height: 40px;
  height: auto;
  margin: 10px 0;
}
.mrightTop1 .fontl {
  line-height: 40px;
  height: auto;
  margin: 10px 0;
}
tr.tatr1 {
  background-color: #EFEBEB;
  font-size: 13px;
  line-height: inherit;
  line-height: 22px;
  height: 22px;
}
tr.tatr1 td {
  border-bottom: 1px solid #C9C9CA;
}
tr.tatr2 td {
  font-size: 13px;
}
.formbtn {
  background: none;
  color: #ffffff;
  line-height: 30px;
  height: 30px;
  font-size: 13px;
  line-height: inherit;
  font-weight: bold;
  background-color: #E4602D;
  border-radius: 3px;
}
input.formbtn {
  line-height: 30px;
  height: 30px;
}
.down {
  line-height: 22px;
  height: 22px;
}
.info2 {
  margin-top: 10px;
}
