@charset "utf-8";

.jqzoom{
border:1px solid #eee;
float:left;
position:relative;
padding: 0;
cursor: pointer;
}

.jqzoom img{
float:left;
}


div.zoomdiv {
z-index                 : 100;
position                : absolute;
top:0px;
left:0px;
width                   : 100px;
height                  : 100px;
background: #fff;
border:1px solid #ccc;
display:none;
text-align: center;
overflow: hidden;


}

div.jqZoomPup {
z-index                 : 10;
visibility              : hidden;
position                : absolute;
top:0px;
left:0px;
width                   : 50px;
height                  : 50px;
border: 1px solid #aaa;
background: #fff;
opacity: 0.5;
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
filter: alpha(Opacity=50);
}
