/*登录 注册页面样式*/
.loginbg{background:#fff;margin: 0;padding:0;height: 450px;}
.loginptb{padding:60px 0;width:1200px; margin-left:auto; margin-right:auto; margin:auto;}
.logleft { width:580px; padding-left:140px;color:#333;margin: 0;padding:0;float:left !important;}
.logright { width:420px; padding-right:120px; float:right !important;}
.login { clear:both; border-right:1px solid #dfdfdf; }

.login h1 { font-size:30px; height:40px; line-height:40px; font-family:"微软雅黑"; font-weight:500; padding-bottom:40px; }

.login h2 { font-size:16px; height:40px; line-height:40px; font-family:"微软雅黑"; font-weight:500; padding-bottom:40px; }

.login li {line-height:40px; padding:5px 0; clear:both; }

.login li u { float:left; width:75px; font-size:14px; padding-left:5px;text-decoration:none; }

.login li em { float:left; width:480px; }

.login li em input { height:18px; line-height:18px; width:260px; border:1px solid #dfdfdf; background:#fff; padding:10px 15px; font-size:16px; color:#999; }

.login li em #captcha1 { width:165px; }

.login li em img { margin-left: 10px;vertical-align:middle; }

.login ol { padding-left:80px; height:50px; line-height:50px; display:block; clear:both; }

.login ol .Submit { background:#6f0e0e; color:#fff; font-size:28px; text-align:center; font-family:"微软雅黑"; width:200px; height:50px; border:none; line-height:30px; vertical-align:middle;}
.login ol .Submit { *margin-left: -70px;cursor:pointer;}
.login ol:hover .Submit{background:#b10000;}

.login ol a { margin-left:15px; }
.login ol .noregister{width: 145px;float: left;}
.login ol .register{ float: left; height: 50px;line-height: 50px;}
.login ol .nologin{width: 80px;float: left;}
.login ol .registera{ float: left;border:1px solid #ccc;background-color: #fff;color: #000;font-size: 14px;height: 25px;line-height: 25px;width: 55px;margin-top:12px;/**/ }

.login li.logintip{height:24px; line-height:24px; padding:0 0 0 70px;}
.login ul{font-size: 14px;}

